.icon{
    font-size: 30px;
}
.foter-1  {
    background-color: #2C3E50;
    width: 100%; 
    margin: 0px;
}
.foter-2  {
    color: white;
    background-color:#1a252f;
    width: 100%; 
    padding: 10PX;
    text-align: center;
}