<div class="contact text-center">
    <h1 class="pt-1 contact-color text-uppercase mb-3 fs-1 fw-bolder">CONATCT SECTION</h1>
    <div class="d-flex align-items-center justify-content-center mb-3 contact-color">
        <div class="line me-3 "></div>
        <i class="fa-solid fa-star"></i>
        <div class="line ms-3"></div>
    </div>
    
</div>
<form class="w-50 p-3 mx-auto " action="">
    <input type="text"  class="form-control mb-4 py-3  " placeholder="UserName">
    <input type="text" class="form-control mb-4 py-3  " placeholder="UserAge">
    <input type="text" class="form-control mb-4 py-3  " placeholder="UserEmile">
    <input type="text" class="form-control mb-4 py-3 " placeholder="UserPassword">
    <button type="button" class="btn contact-btn ms-0 text-start">Send Massage</button>  
</form>